.clear {
	clear: both;
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.align_justify {
	text-align: justify;
}

.widget {
	position: relative;
}