<%= @page.pattern.html.html_safe %>

<!-- INNER -->
<!--
<div class="container">
	<div id="before">
		<h1 id="logo">{{img:1:logo_img:}}</h1>
		{{h2:1:slogan:class}}
		{{nav}}
		<div class="clear"></div>
	</div>
</div>

<div id="content" class="container">
	{{section:1!:yield:}}
	{{section:2!:sidebar_1:sidebar}}
	<div class="clear"></div>
</div>

<div class="container">
	<div id="after">
		{{footer}}
		{{p:1:copyright:}}
	</div>
</div>-->






<!-- HOME -->
<!--
<div class="container">
	<div id="before">
		<h1 id="logo">{{img:1:logo_img:}}</h1>
		{{h2:1:slogan:class}}
		{{nav}}
	</div>
	<div class="clear"></div>
</div>

<div id="home_slider">
	<img src="/assets/rails.png" width="1400" height="250">
</div>

<div id="content" class="container">
	<div id="thirds">
		{{section:1:third_1:third}}
		{{section:2:third_2:third}}
		{{section:3:third_3:third}}
	</div>
	<div class="clear"></div>
</div>

<div class="container">
	<div id="after">
		{{footer}}
		{{p:1:copyright:}}
	</div>
</div>
-->