body {
	font-family: Helvetica, Arial, Sans;
	font-size: 15px;
	line-height: 24px;
}

h1 {
	font-size: 32px;
	line-height: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
}

table {
	width: 100%;
	border: 1px solid #ddd;
	line-height: 15px;
	
	th {
		background: #333;
		color: #ddd;
		font-size: 13px;
	}
	
	td {
	}

	td, th {
		padding: 6px;
		text-align: left;
	}
	
	tr td {
		border-bottom: 1px solid #ddd;
	}
}

/* DESKTOP (BIGGER THAN 740px) */
@media (min-width: 740px) {
	.container {
		max-width: 1048px;
		margin: 0 auto;
		padding: 20px;
		position: relative;
	}
}

/* MOBILE (SMALLER THAN 740px) */
@media (max-width: 740px) {
	.container {
		margin: 0 auto;
		padding: 20px;
		position: relative;
	}
}